<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.beamto.newplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/ExampleTheme" >
        <activity
            android:name=".ui.activites.NewMediaPlayerActivity"
             android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activites.SongListActivity" />
        <activity android:name=".ui.activites.PlayListActivity" />
        <activity android:name=".ui.activites.VideoPlayListActivity" />
        <activity android:name="com.crittercism.NotificationActivity"/>
        <service android:enabled="true" android:name="us.beamto.newplayer.service.LoadSongsService" >
        </service>
        <service android:enabled="true" android:name="us.beamto.newplayer.service.TotalSongsService" >
        </service>
        <service android:enabled="true" android:name="us.beamto.newplayer.service.LoadAlbumService" >
        </service>
        <service android:enabled="true" android:name="us.beamto.newplayer.service.LoadTrendingAlbumsService" >
        </service>
        <service android:enabled="true" android:name="us.beamto.newplayer.service.GetPlaylistsService" >
        </service>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" >
    
    </uses-permission>

</manifest>